* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
}

window {
    margin: 0px;
    padding: 10px;
    border-radius: 14px;
    background-color: rgba(15, 15, 15, 0.85);
}

#input {
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: rgba(40, 40, 40, 0.9);
}

#inner-box {
    margin: 5px;
}

#outer-box {
    padding: 10px;
}

#entry {
    padding: 10px;
    margin: 4px;
    border-radius: 10px;
}

#entry:selected {
    background-color: rgba(90, 90, 90, 0.8);
}

#text {
    color: #ffffff;
    margin-left: 10px;
}

#img {
    margin-right: 8px;
}
