/* ================= GLOBAL ================= */

* {
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 13px;
}

/* ================= BAR BACKGROUND ================= */

window#waybar {
  background-color: rgba(26, 28, 43, 0.45);
  min-height: 22px;
  margin: 8px;
  border-radius: 14px;
}

/* ================= MODULE GROUP ================= */

.modules-left,
.modules-center,
.modules-right {
  margin: 0 4px;
}

/* ================= LAUNCHER ================= */

#custom-launcher {
  font-size: 16px;
  color: #00bfff;
  padding: 0 10px;
  margin: 3px;
  background-color: #1a1c2b;
  border-radius: 10px;
}

/* ================= SYSTEM ================= */

#cpu,
#memory,
#temperature {
  background-color: #2a2d45;
  margin: 3px 0;
}

#cpu {
  color: #eed49f;
  padding: 0 8px 0 10px;
  border-radius: 10px 0 0 10px;
}

#memory {
  color: #a6da95;
  padding: 0 8px 0 0;
}

#temperature {
  color: #8aadf4;
  padding: 0 10px 0 0;
  border-radius: 0 10px 10px 0;
}

/* ================= ACTIVE WINDOW (APP) ================= */
/* INI YANG PALING PENTING */

#window {
  color: #cad3f5;
  padding: 0 12px;
  margin: 3px;
  background-color: #1f2335;
  border-radius: 10px;
}

/* ================= PLAYER ================= */

#custom-playerctl {
  color: #a6da95;
  padding: 0 10px;
  margin: 3px;
  background-color: #1a1c2b;
  border-radius: 10px;
}

/* ================= BATTERY ================= */

#battery {
  color: #a6da95;
  padding: 0 10px;
  margin: 3px;
  background-color: #1a1c2b;
  border-radius: 10px;
}

/* ================= WORKSPACES ================= */

#workspaces button {
  background-color: transparent;
  margin: 3px;
}

#workspaces button label {
  padding: 0 10px;
  background-color: #1a1c2b;
  border-radius: 10px;
}

#workspaces button.active label {
  background-color: #2a2d45;
  color: #cad3f5;
}

/* ================= AUDIO / BACKLIGHT ================= */

#pulseaudio,
#backlight {
  background-color: #2a2d45;
  margin: 3px 0;
}

#backlight {
  color: #eed49f;
  padding: 0 8px;
  border-radius: 10px 0 0 10px;
}

#pulseaudio {
  color: #91d7e3;
  padding: 0 10px 0 0;
  border-radius: 0 10px 10px 0;
}

/* ================= NETWORK / DISK ================= */

#network,
#disk {
  padding: 0 10px;
  margin: 3px;
  background-color: #1a1c2b;
  border-radius: 10px;
}

#network {
  color: #c6a0f6;
}

#disk {
  color: #68b0d6;
}

/* ================= DOT / FILLER ================= */

#custom-dot,
#custom-filler {
  color: #6e738d;
  padding: 0 10px;
  margin: 3px;
  background-color: #1a1c2b;
  border-radius: 10px;
}

/* ================= CLOCK ================= */

#clock {
  color: #cad3f5;
  padding: 0 10px;
  margin: 3px;
  background-color: #1a1c2b;
  border-radius: 10px;
}

